@import url(https://fonts.googleapis.com/css?family=Raleway:300);

$primary-color: #45A29E;
$easing: all 0.5s cubic-bezier(0.55,0,.1,1);
$base-size: 23rem;
$base-size-mobile: 10rem;


$urls: (url("../images/team/chairperson.jpg"), 
		url("../images/team/vice chairperson.jpg"),
		url("../images/team/secretary1.jpg"), url("../images/team/secretary2.jpg"),
		url("../images/team/tech1.jpg"), url("../images/team/tech2.jpg"), url("../images/team/tech3.jpg"), url("../images/team/tech4.jpg"), 
		url("../images/team/event1.jpg"), url("../images/team/event2.jpg"),
		url("../images/team/finance1.jpg"), url("../images/team/finance2.jpg"),
		url("../images/team/pr1.jpg"), url("../images/team/pr2.jpg"),
		url("../images/team/op1.jpg"), url("../images/team/op2.jpg"),
		url("../images/team/marketing1.png"), url("../images/team/marketing2.jpg"),
		url("../images/team/subcom1.jpg"), url("../images/team/subcom2.jpg"),
		url("../images/team/social-media1.jpg"));

@for $i from 1 through length($urls){
	$url: nth($urls, $i);
    .badge-#{$i} {
		display: block;
		position: relative;
		width: $base-size;
		height: $base-size;
		cursor: pointer;
		background: $url no-repeat 80% 20%;
		background-size: 100%;
		border-radius: 50%;
		transition: $easing;
		box-shadow: 0px .5rem 1rem rgba(0,0,0,.75);
		&:hover {
			box-shadow: 0px .5rem 2rem rgba(0,0,0,.75);
			background-position: 0% 50%;
		
			.text {
			  transform: rotate(-45deg) translate(0px) rotate(-315deg);
			  background: rgba($primary-color,.5);
			  width: $base-size;
			  line-height: $base-size;
			  height: $base-size;
			  font-size: 1.5rem;
			  margin-top: -($base-size / 2);
			  margin-left: -($base-size / 2);
			  transition:
				$easing;
			}
			.text > a {
				opacity: 1;
			}
		  }
	}
}


.text {
    display: block;
    position: absolute;
    width: ($base-size / 2);
    height: ($base-size / 2);
    line-height: ($base-size / 2);
    left: 50%;
    top: 50%;
    margin-top: -($base-size / 4);
    margin-left: -($base-size / 4);
    font-size: 15px;
	font-family: Raleway, sans-serif;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background: $primary-color;
    transform: rotate(-180deg) translate(-($base-size / 2)) rotate(180deg);
    box-shadow: 0px .5rem 1rem rgba(0,0,0,.5);
    transition: $easing;
}

.text > p{
	display: block;
    position: absolute;
    width: ($base-size / 2);
    height: ($base-size / 2);
    line-height: ($base-size / 2);
    left: 50%;
    top: 60%;
    margin-top: -($base-size / 4);
    margin-left: -($base-size / 4);
    font-size: 20px;
	text-size-adjust: 50%;
	font-family: Raleway, sans-serif;
    text-align: center;
    color: #fff;
    transition: $easing;
}

.text > a{
	display: block;
    position: absolute;
    width: ($base-size / 2);
    height: ($base-size / 2);
    line-height: ($base-size / 2);
    left: 55%;
    top: 70%;
    margin-top: -($base-size / 4);
    margin-left: -($base-size / 4);
    font-size: 20px;
	font-family: Raleway, sans-serif;
    text-align: center;
    color: #fff;
    transition: $easing;
	opacity: 0;
}


@media (max-width: 960px){
	@for $i from 1 through length($urls){
		$url: nth($urls, $i);
		.badge-#{$i} {
			width: $base-size-mobile;
			height: $base-size-mobile;
			&:hover {
				.text {
				  width: $base-size-mobile;
				  line-height: $base-size-mobile;
				  height: $base-size-mobile;
				  margin-top: -($base-size-mobile / 2);
				  margin-left: -($base-size-mobile / 2);
				  font-size: 13px;
				}
			  }
			  .text > p {
				font-size: 10px;
			  }
			  .text > a > i {
				font-size: 15px;
				pointer-events: all;
				color: aqua;
			  }
			  
		}
	}
	.text {
		width: ($base-size-mobile / 2);
    	height: ($base-size-mobile / 2);
    	line-height: ($base-size-mobile / 2);
    	margin-top: -($base-size-mobile / 4);
    	margin-left: -($base-size-mobile / 4);
		transform: rotate(-180deg) translate(-($base-size-mobile / 2)) rotate(180deg);
		font-size: 8px;
	}
	.text > p {
		font-size: 10px;
		top: 62%;
	}
	.text > a {
		top: 78%;
		left: 60%;
		font-size: 5px;
		pointer-events: none;
		// opacity: 0;
	}
}