.container {
    padding: 4rem;
    background: rgb(8, 8, 8);
    text-align: center;
    color: #fff;
    font-size: 40px;
    display: flex;
    flex-direction: column;
}

.close-container{
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    float: right;
    padding-top: 50px;
}
  
.leftright{
    height: 4px;
    width: 50px;
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}
  
.rightleft{
    height: 4px;
    width: 50px;
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}
  
.close-container:hover .leftright{
    transform: rotate(-45deg);
    background-color: rgb(225, 17, 17);
}
.close-container:hover .rightleft{
    transform: rotate(45deg);
    background-color: rgb(225, 17, 17);
}

.img-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

@media only screen and (max-width: 1200px) {
    .img-container {
        grid-template-columns: repeat(1, auto);
    }
}
